*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  padding: 40px;

  h1 {
    font-size: 42px;

    &::after {
      display: inline-block;
      height: 1em;
      width: 1em;
      background: url(../../src/img/clock.svg) 50% 50% / cover no-repeat;
      content: '';
    }
  }

  .photo {
    width: 200px;
    height: 400px;
    background: url(../../src/img/leaf.jpg) 50% 50% / cover no-repeat;
  }
}
